<header>
    <nav>
        <a href="{{ '/' | relative_url }}" class="logo-link">
            <img src="{{ '/image/logo.png' | relative_url }}" alt="Logo Hoarau Erwan" class="logo-header">
        </a>
        <ul>
            <li><a href="{{ '/' | relative_url }}#about">MON PARCOURS</a></li>
            <li><a href="{{ '/' | relative_url }}#projects">PROJETS</a></li>
            <li><a href="{{ '/' | relative_url }}#skills">COMPÉTENCES</a></li>
            <li><a href="{{ '/' | relative_url }}#contact">CONTACT</a></li>
        </ul>
        <div class="menu-toggle" id="menuToggle">
            <span></span><span></span><span></span><span></span>
        </div>
        <button id="translateBtn">FR → EN</button>
    </nav>
</header>
